<h2>Locations</h2>
<h12>Post Code:<%= @pcode%></h12>

<h12>Date:<%= @date_to_search%></h12>

<table class="table table-bordered"  width=100% >
	<thead>
		<tr>
			<th width="50">Name</th>
			<th width="100">Latitude</th>
			<th width="100">Longitude</th>
			<th width="100">Last Update</th>
			<th id="measurement" colspan="5" width="500" align="Center">Measurement</th>
	</tr>
	<tr>
		
	</tr>
	</thead>

	<tbody>
		<% @locations_needed.each do |location| %>
		<tr>
			<td><%= location["id"] %></td>
			<td><%=	location["lat"] %></td>
			<td><%= location["lon"] %></td>
			<td><%= location["last_update"] %></td>
			<td>
			<table class="table table-bordered" width="100%">
				<thead>
					<th id="dt">Data Time</th>
					<th id="tm">Temperature</th>
					<th id="pr">Precip</th>
					<th id="wd">Wind Direction</th>
					<th id="ws">Wind Speed</th>
				</thead>
				<tbody>
					<% location["measurements"].each do |m| %>
					<tr>
						<td headers="td"><%= m["time"] %></td>
						<td headers="tm"><%= m["temp"] %></td>
						<td headers="pr"><%= m["precip"] %></td>
						<td headers="wd"><%= m["wind_direction"] %></td>
						<td headers="ws"><%= m["wind_speed"] %></td>
					</tr>
					<% end %>
					</tbody>
					</table>
					
				
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<a href="/welcome/index">Back</a>

