<h2>Locations</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Latitude</th>
			<th>Longitude</th>
			<th>Last Update</th>
			<th>Post Code</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @locations.each do |location| %>
		<tr>
			<td><%= location.name %></td>
			<td><%=	location.latitude %></td>
			<td><%= location.longitude %></td>
			<% update_time=Time.at(location.updated_at).strftime("%I:%M%P %d-%m-%Y") %>
			<td><%= update_time %></td>
			<td><%= location.postcode.postcode %></td>
		</tr>
		<% end %>
	</tbody>
</table>